@page "/register"

@layout EmptyLayout

@using CatTime.Frontend.Pages.Auth.Models
@using CatTime.Shared
@using Microsoft.AspNetCore.Components.Forms

@inject NavigationManager NavigationManager;

<div class="register-container">
    <div class="register-card">
        <div class="image-container">
        </div>
        <EditForm Model="@_model" OnValidSubmit="OnSubmit" class="form-container">
            <div class="register-form-container">
                <MudText Typo="Typo.h6">CatTime</MudText>
                <MudTextField @bind-Value="_model.FirstName" Label="Vorname" For="@(() => _model.FirstName)"/>
                <MudTextField @bind-Value="_model.LastName" Label="Nachname" For="@(() => _model.LastName)"/>
                <MudTextField @bind-Value="_model.Email" Label="E-Mail Adresse" For="@(() => _model.Email)"/>
                <MudTextField @bind-Value="_model.Password" Label="Passwort" For="@(() => _model.Password)" InputType="InputType.Password" HelperText="Wählen Sie ein sicheres Passwort"/>
                <MudTextField @bind-Value="_model.ConfirmPassword" Label="Passwort wiederholen" For="@(() => _model.ConfirmPassword)" InputType="InputType.Password" HelperText="Wiederholen Sie das Passwort"/>

                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="submit-button">Registrieren</MudButton>
            </div>
        </EditForm>
    </div>
</div>

@code {
    private RegisterModel _model = new RegisterModel();

    private void OnSubmit(EditContext context)
    {
        this.NavigationManager.NavigateTo("/login");
        this.StateHasChanged();
    }
}
