@page "/register"

@layout EmptyLayout

@using CatTime.Frontend.Pages.Auth.Models
@using Microsoft.AspNetCore.Components.Forms
@using CatTime.Frontend.Infrastructure.Service

@inject NavigationManager NavigationManager;
@inject ClientService ClientService;

<div class="register-container">
    <div class="register-card">
        <div class="image-container">
            <img src="images/logocat.jpeg" />
        </div>
        <EditForm Model="@Model" OnValidSubmit="OnSubmit" class="form-container">
            <DataAnnotationsValidator />
            <div class="register-form-container">
                <MudText Typo="Typo.h6">CatTime</MudText>
                <MudTextField @bind-Value="Model!.FirstName" Label="Vorname" For="@(() => Model!.FirstName)"/>
                <MudTextField @bind-Value="Model!.LastName" Label="Nachname" For="@(() => Model!.LastName)"/>
                <MudTextField @bind-Value="Model!.Email" Label="E-Mail Adresse" For="@(() => Model!.Email)"/>
                <MudTextField @bind-Value="Model!.Password" Label="Passwort" For="@(() => Model!.Password)" InputType="InputType.Password" HelperText="Wählen Sie ein sicheres Passwort"/>
                <MudTextField @bind-Value="Model!.ConfirmPassword" Label="Passwort wiederholen" For="@(() => Model!.ConfirmPassword)" InputType="InputType.Password" HelperText="Wiederholen Sie das Passwort"/>

                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="submit-button">Registrieren</MudButton>
            </div>
        </EditForm>
    </div>
</div>

@code {
    [SupplyParameterFromForm] public RegisterModel? Model { get; set; }
    
    protected override void OnInitialized() => Model ??= new();

    private void OnSubmit(EditContext context)
    {
        if (Model?.Password?.Equals(Model?.ConfirmPassword) is false || 
            string.IsNullOrWhiteSpace(Model?.FirstName) || 
            string.IsNullOrWhiteSpace(Model?.LastName))
        {
            return;
        }

        ClientService.Register(Model.FirstName, Model.LastName, Model.Email, Model.Password);
        
        NavigationManager.NavigateTo("/login");
        this.StateHasChanged();
    }
}
